{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
    <div id="video-wrapper">
        <div id="tools">
            <div>AutoDanmuGen Tools: </div>
            <div>
                <button id="init-btn" type="button" class="btn btn-primary">Init</button>
                <button type="button" class="btn btn-primary">Predict</button>
                <button id="comment-btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Comments</button>
            </div>
        </div>
        <div>
            <div id="video_id">Video - {{ id }}</div>
            <video id="danmu-video" src="{{ video_path }}" controls></video>
        </div>
    </div>
    
    <!-- Comment Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="comment-modal-body">
                <table class="table" id="comment-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">time(min:sec)</th>
                            <th scope="col">comment</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>
        $('#init-btn').click(() => {
            $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + "/init?id=" + $('#video_id').text().slice(8),
                success: (data) => {
                    console.log(data);
                },
                dataType: "json"
            });
        });

        $('#comment-btn').click(() => {
            $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + "/comment?id=" + $('#video_id').text().slice(8),
                success: (data) => {
                    console.log(data)
                    for (let i of data) {
                        let time = i.time;
                        let min = Math.floor(time / 60);
                        let sec = time % 60;
                        $('#comment-table tbody').append(`<tr><th scope="row">${i.id}</th><td>${min}:${sec}</td><td>${i.comment}</td></tr>`)
                    }
                },
                dataType: "json"
            });
        });
    </script>
{% endblock %}
